
ApuestasDeportivasApp/.vs/ApuestasDeportivasApp/DesignTimeBuild/.dtbcache.v2
ApuestasDeportivasApp/.vs/ApuestasDeportivasApp/v17/.futdcache.v1
ApuestasDeportivasApp/.vs/ApuestasDeportivasApp/v17/.suo
ApuestasDeportivasApp/ApuestasDeportivasApp/obj/ApuestasDeportivasApp.csproj.nuget.dgspec.json
ApuestasDeportivasApp/ApuestasDeportivasApp/obj/ApuestasDeportivasApp.csproj.nuget.g.props
*.targets
ApuestasDeportivasApp/ApuestasDeportivasApp/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
*.cache
*.editorconfig
*.json
ApuestasDeportivasApp/ApuestasDeportivasApp/obj/Debug/net6.0/ApuestasDeportivasApp.GlobalUsings.g.cs
ApuestasDeportivasApp/ApuestasDeportivasApp/obj/Debug/net6.0/ApuestasDeportivasApp.AssemblyInfo.cs
ApuestasDeportivasApp/ApuestasDeportivasApp/bin/Debug/net6.0/ApuestasDeportivasApp.dll
ApuestasDeportivasApp/ApuestasDeportivasApp/bin/Debug/net6.0/ApuestasDeportivasApp.exe
ApuestasDeportivasApp/ApuestasDeportivasApp/bin/Debug/net6.0/ApuestasDeportivasApp.pdb
ApuestasDeportivasApp/ApuestasDeportivasApp/bin/Debug/net6.0/Azure.Core.dll
ApuestasDeportivasApp/ApuestasDeportivasApp/bin/Debug/net6.0/Azure.Core.dll
ApuestasDeportivasApp/ApuestasDeportivasApp/bin/Debug/net6.0/Azure.Identity.dll
ApuestasDeportivasApp/ApuestasDeportivasApp/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
ApuestasDeportivasApp/ApuestasDeportivasApp/bin/Debug/net6.0/Microsoft.Identity.Client.Extensions.Msal.dll
ApuestasDeportivasApp/ApuestasDeportivasApp/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
ApuestasDeportivasApp/ApuestasDeportivasApp/bin/Debug/net6.0/Microsoft.Identity.Client.Extensions.Msal.dll
ApuestasDeportivasApp/ApuestasDeportivasApp/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
*.dll
*.exe
*.txt
*.BuildWithSkipAnalyzers
*.pdb
*.CopyComplete
API_ApuestasDeportivasApp/.vs/API_ApuestasDeportivasApp/v17/.suo
*.config
API_ApuestasDeportivasApp/API_ApuestasDeportivasApp/obj/Debug/net6.0/API_ApuestasDeportivasApp.MvcApplicationPartsAssemblyInfo.cs
API_ApuestasDeportivasApp/.vs/API_ApuestasDeportivasApp/v17/.suo
API_ApuestasDeportivasApp/.vs/API_ApuestasDeportivasApp/DesignTimeBuild/.dtbcache.v2
*.sentinel
API_ApuestasDeportivasApp/.vs/API_ApuestasDeportivasApp/v17/.suo
API_ApuestasDeportivasApp/API_ApuestasDeportivasApp/API_ApuestasDeportivasApp.csproj
API_ApuestasDeportivasApp/API_ApuestasDeportivasApp/API_ApuestasDeportivasApp.csproj
*.v1
API_ApuestasDeportivasApp/.vs/API_ApuestasDeportivasApp/v17/.suo
API_ApuestasDeportivasApp/.vs/API_ApuestasDeportivasApp/v17/.suo
API_ApuestasDeportivasApp/.vs/API_ApuestasDeportivasApp/v17/.suo
