td{
    padding-left: 35px;
    padding-right: 35px;
}

table{
    margin: auto;
}

div{
    text-align: center;
}

button{
    background-color: black;
    color:white;
    width: 30%;
}


button:hover{
    color: rgb(243, 144, 180);
    cursor: pointer;
}